# Perform the following analysis on the provided file "demo.csv".


## 1. Which month saw the highest joining of the employees

   function name: max_joinings_month()
   
   inputs: DataFrame

   outputs: str
   
   
## 2. What is the mean salary is the state KS

   function name: mean_ks_salary()
   
   inputs: DataFrame

   outputs: float
   
   
## 3. Which Region has highest mean salary

   function name: max_mean_salary_region()

   inputs: DataFrame

   outputs: str
   
   
## 4. Which region has lowest mean salary

   function name: min_mean_salary_region()

   inputs: DataFrame

   outputs: str
   
   
## 5. Which City has highest mean weight

   function name: max_mean_weight_city()

   inputs: DataFrame

   outputs: str
   
   
## 6. What is the difference between mean salary of Doctors and Professors

   function name: dr_prof_mean_salary_diff()

   inputs: DataFrame

   outputs: float
   
   
## 7. How many female use yahoo

   function name: females_with_yahoo()

   inputs: DataFrame

   outputs: int
   
   
## 8. How many Doctors use gmail

   function name: doctors_with_gmail()

   inputs: DataFrame

   outputs: int
   
   
## 9. What is the password of the youngest male

   function name: youngest_male_password()

   inputs: DataFrame

   outputs: str

## 1. Which month saw the highest joining of the employees

   function name: max_joinings_month()
   
   inputs: DataFrame

   outputs: str

## 2. What is the mean salary is the state KS

   function name: mean_ks_salary()
   
   inputs: DataFrame

   outputs: float

## 3. Which Region has highest mean salary

   function name: max_mean_salary_region()

   inputs: DataFrame

   outputs: str

## 4. Which region has lowest mean salary

   function name: min_mean_salary_region()

   inputs: DataFrame

   outputs: str

## 5. Which City has highest mean weight

   function name: max_mean_weight_city()

   inputs: DataFrame

   outputs: str

## 6. What is the difference between mean salary of Doctors and Professors

   function name: dr_prof_mean_salary_diff()

   inputs: DataFrame

   outputs: float

## 7. How many female use yahoo

   function name: females_with_yahoo()

   inputs: DataFrame

   outputs: int

## 8. How many Doctors use gmail

   function name: doctors_with_gmail()

   inputs: DataFrame

   outputs: int

## 9. What is the password of the youngest male

   function name: youngest_male_password()

   inputs: DataFrame

   outputs: str